{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block main %}
    <div class="row justify-content-center m-5">
        <img class="col-4" src="{{ asset('build/images/Template-image-article-de-blog-site-internet-700x700.d1e4a843.png') }}">
        <div class="col-4">
            <h1>Coming soon</h1>
            <p>Notre équipe travaille actuellement sur la création de nos formations.</p>
        </div>
    </div>

{% endblock %}
